<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}" lang="en">
<div>
<div layout:fragment="content">
    <div class="max-w-2xl px-6 py-8 mx-auto bg-white">
        <div class="mt-8">
            <h2 class="text-gray-700 dark:text-gray-200">Hi Olivia,</h2>

            <p class="mt-2 leading-loose text-gray-600 dark:text-gray-300">
                Alicia has invited you to join the team on
                <span class="font-semibold">Meraki UI</span>.
            </p>
            <button
                    class="px-6 py-2 mt-4 text-sm font-medium tracking-wider text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80"
            >
                Accept the invite
            </button>

            <p class="mt-8 text-gray-600 dark:text-gray-300">
                Thanks, <br />
                Meraki UI team
            </p>
        </div>
    </div>
</div>
</div>
</html>
